body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.striketask {
    text-decoration: line-through;
}

.titleRed {
    color: red;
}

.titleGreen {
    color: green;
}
